body,
p,
.container,
.scroller,
.col-4,
.col-8,
.row {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100vw;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 3em;
    font-weight: bold;
    font-family: 'B612', sans-serif;
    text-align: center;
}

.background {
    background-color: white;
    background-blend-mode: lighten;
    background-size: cover;
}

input {
    border-radius: 32px;
    padding: 0.25em 0.25em;
    margin: 1vw;
    text-align: center;
    white-space: normal;
    background: black;
    color: white;
    font-weight: bold;
}

input[type=button] {
    max-width: 50%;
}

input[type=text] {
    width: 50vw;
    font-size: 8vw;
}


input.timepicker {
    width: 60%;
    text-align: center;
}

#black {
    background-color: black;
}

#black,
#col-1,
#col-2 {
    display: none;
}

#col-1-content {
    padding: 0.5em;
    font-size: 1.7em;
}

#col-1-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    font-size: 7.4vw;
    margin-left: auto;
    margin-right: auto;
}

#col-1-input p {
    font-size: 0.8em;
}

#col-1-input input {
    height: 40%;
}

.numpad-row {
    padding-bottom: 2%;
}

.numpad-row > button {
    color: white;
    background-color: black;
    width: 15%;
    border-radius: 10%;
}

.scroller {
    overflow-y: scroll;
    max-height: 70vh;
}

.scroller::-webkit-scrollbar {
    width: 3vw;
}

.scroller::-webkit-scrollbar-track {
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    background: #add8e6;
    border-radius: 3vw;
}

.scroller::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.slider {
    padding: 0;
    -webkit-appearance: none;
    width: 70%;
    height: 4vh;
    border-radius: 2vh;
    border-color: black;
    background: black;
    opacity: 1;
    font-size: 1em;
    -webkit-transition: .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}