body,
p,
.container,
.scroller,
.col-4,
.col-8,
.row {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100vw;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 3em;
    font-weight: bold;
    font-family: 'B612', sans-serif;
    text-align: center;
}

.background {
    background-color: white;
    background-blend-mode: lighten;
    background-size: cover;
}

input {
    border-radius: 4vh;
    padding: 2vh 5vw 2vh 5vw;
    margin: 2vh;
    text-align: center;
    white-space: normal;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=button] {
    font-size:1.8em;
}

input[type=text] {
    width: 60vw;
}


input.timepicker {
    width: 40vw;
    text-align: center;
}

#black {
    background-color: black;
}

#black,
#col-1,
#col-2 {
    display: none;
}

#col-1-content {
    padding: 8vh;
}

#col-1-input {
    display: inline-flex;
    padding: 4vh;
}

.scroller {
    overflow-y: scroll;
    max-height: 70vh;
}

.scroller::-webkit-scrollbar {
    width: 3vw;
}

.scroller::-webkit-scrollbar-track {
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    background: #add8e6;
    border-radius: 3vw;
}

.scroller::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.slider {
    -webkit-appearance: none;
    width: 60vw;
    height: 4vh;
    border-radius: 2vh;
    background: #FFFFFF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #0000A0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}