<launch>

    <arg name="face_port" default="8080"/>
    <arg name="gui_port" default="8081"/>
    <arg name="is_launch_sound_listener" default="true" />
    <arg name="is_launch_internet_speed_test" default="true" />
    <rosparam file="$(find cordial_manager)/config/config.yaml" command="load" />
    <rosparam file="$(find cordial)/topic_parameters.yaml" />

    <node pkg="cordial_manager" type="manager.py" name="manager" output="screen"/>

    <include file="$(find cordial_manager)/launch/start_servers.launch">
        <arg name="face_port" value="$(arg face_port)"/>
        <arg name="gui_port" value="$(arg gui_port)"/>
    </include>
    <include file="$(find cordial_sound)/launch/sound.launch">
        <arg name="is_launch_sound_listener"  value="$(arg is_launch_sound_listener)"/>
    </include>
    <include file="$(find cordial_gui)/launch/gui.launch" />

    <node pkg="cordial_face" type="face_gesture_player.py" name="face_gesture_player" output="screen" />

    <group if="$(arg is_launch_internet_speed_test)">
        <node pkg="cordial_tools" type="internet_speed_monitor.py" name="internet_speed_monitor" output="screen"/>
    </group>

</launch>
