<launch>

    <arg name="face_port" default="8080"/>
    <arg name="gui_port" default="8081"/>

    <include file="$(find cordial_face)/launch/face_server.launch">
        <arg name="port" value="$(arg face_port)" />
        <arg name="is_launch_websocket" value="false" />
    </include>
    <include file="$(find cordial_gui)/launch/gui_server.launch">
        <arg name="port" value="$(arg gui_port)" />
        <arg name="is_launch_websocket" value="false" />
    </include>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

</launch>
