<launch>

    <param name="wav_header_length" type="int" value="24"/>
    <param name="frames_per_buffer" type="int" value="512"/>

    <node pkg="cordial_sound" type="sound_listener.py" name="sound_listener" output="screen"/>
    <node pkg="cordial_sound" type="wav_file_publisher.py" name="wav_file_publisher" output="screen"/>

</launch>
