<launch>

	<arg name="web_directory_path" value="$(find cordial_gui)/web"/>
	<arg name="port" value="8080"/>

    <node pkg="cordial_tools" type="http_server_runner.py" name="gui_http_server" output="screen"
        args="$(arg web_directory_path) $(arg port)" />

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

</launch>
