<launch>

    <rosparam file="$(find cordial_sound)/config/config.yaml" command="load" />

    <node pkg="cordial_sound" type="wav_file_publisher.py" name="wav_file_publisher" output="screen"/>

    <arg name="is_launch_sound_listener" default="true" />
    <group if="$(arg is_launch_sound_listener)">
        <include file="$(find cordial_sound)/launch/sound_listener.launch" />
    </group>

</launch>
