<launch>

    <arg name="is_launch_server" default="false" />
    <group if="$(arg is_launch_server)">
        <arg name="port" default="8080"/>
        <include file="$(find cordial_gui)/launch/gui_server.launch">
            <arg name="port" value="$(arg port)"/>
        </include>
    </group>

    <param name="cordial/gui/seconds_before_timeout" type="double" value="30"/>
    <param name="cordial/gui/timeout_msg" type="str" value="--timeout--"/>
    <param name="cordial/gui/seconds_with_no_prompt_before_display_goes_off" type="double" value="1"/>
    <param name="cordial/gui/state_manager_seconds_between_calls" type="double" value="0.1"/>
    <param name="cordial/gui/is_debug" type="bool" value="False"/>
    <rosparam file="$(find cordial)/topic_parameters.yaml" />

    <node pkg="cordial_gui" type="gui_controller.py" name="gui_controller" output="screen" />

</launch>
